* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    padding-top: 55px;
    height: 100vh;
}

header {
    background-color: aqua;
    position: fixed;
    width: 100%;
    top: 0;
}

header > nav {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    display: inline-block;
    margin-right: 1rem;
}

nav .logo img {
    vertical-align: top;
    height: 50px;
}

nav .enlaces li {
    list-style-type: none;
    display: inline-block;
    text-align: right;
}

nav .enlaces li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}

nav .enlaces li a:hover {
    color: #fa6804;
}

main {
    width: 70%;
    margin: 1.2rem auto;
    text-align: center;
    background-color: palegreen;
}

#form {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#form label {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

#form input[type=email] {
    width: 40%;
    height: 35px;
    margin: 0.5rem auto;
}

#form input[type=submit] {
    width: 15%;
    margin: 0 auto;
    background-color: #da5b04;
    font-family: 'Roboto', 'sans-serif';
    font-size: 15px;
    padding: 5px 5px;
}

#form input[type=submit]:hover {
    background-color: #fa6804;
}

#features {
    background-color: azure;
    
}

#features ul {
    background-color: blue;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 50px 0 50px 0px;
}

#features ul li {
    background-color: #eee;
    list-style-type: none;
    padding: 40px 0 40px 100px;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#features ul li i {
    font-size: 50px;
    margin-right: 100px;
    color: #fa6804;
}

#features ul li h3 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
}

#features ul li p {
    font-family: 'Roboto', 'sans-serif';
    font-size: 17px;
}

#how-it-works {
    background-color: aliceblue;
    margin-top: 2rem;
    margin-bottom: 20px;
}

#how-it-works p {
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
    margin-top: 15px;
}

footer {
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: right;
    background-color: paleturquoise;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
    padding-bottom: 5px;
}

footer ul li a {
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    color: black;
}

footer span {
    padding: 1rem;
    color: black;
}


@media (max-width: 767px) {

}

@media (max-width: 515px) {

    body {
        padding-top: 210px;
    }

    header > nav {
        flex-direction: column;
    }

    nav .enlaces li {
        display: flex;
        flex-direction: column;
    }
}