* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    padding-top: 55px;
    height: 100vh;
}

header {
    background-color: #eee;
    position: fixed;
    width: 100%;
    top: 0;
}

header > nav {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    display: inline-block;
    margin-right: 1rem;
}

nav .logo img {
    vertical-align: top;
    height: 50px;
}

nav .enlaces li {
    list-style-type: none;
    display: inline-block;
    text-align: right;
}

nav .enlaces li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}

nav .enlaces li a:hover {
    color: #fa6804;
}

main {
    width: 70%;
    margin: 1.2rem auto;
    text-align: center;
}

#form {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#form label {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

#form input[type=email] {
    width: 40%;
    height: 35px;
    margin: 0.5rem auto;
}

#form input[type=submit] {
    width: 15%;
    margin: 0 auto;
    background-color: #da5b04;
    font-family: 'Roboto', 'sans-serif';
    font-size: 15px;
    padding: 5px 5px;
}

#form input[type=submit]:hover {
    background-color: #fa6804;
}

#features ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 50px 0 50px 0px;
}

#features ul li {
    background-color: #eee;
    list-style-type: none;
    padding: 40px 0 30px 100px;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#features ul li i {
    font-size: 50px;
    margin-right: 100px;
    color: #fa6804;
}

#features ul li h3 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
}

#features ul li p {
    font-family: 'Roboto', 'sans-serif';
    font-size: 17px;
}

#how-it-works {
    margin-top: 1rem;
    margin-bottom: 20px;
    height: auto;
    width: 100%;
}

#how-it-works p {
    font-family: 'Roboto', 'sans-serif';
    font-size: 20px;
    margin-top: 15px;
}

#how-it-works iframe {
    width: 560px;
    height: 315px;
}

#products {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.target {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 300px;
    padding: 2px 16px;
    margin: 2px 16px;
}

.target h5 {
    background-color: #ddd;
    font-family: 'Roboto', 'sans-serif';
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0px;
    margin-top: 0.4rem;
    margin-bottom: 1.5rem;
}

.target h6 {
    font-family: 'Roboto', 'sans-serif';
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.target p {
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    margin-bottom: 4rem;
}

.target button {
    padding: 9px 40px;
    background-color: #da5b04;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 15px;
}

.target button:hover {
    background-color: #fa6804;
}

footer {
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: right;
    background-color: #ddd;
}

footer ul li {
    display: inline-block;
    list-style-type: none;
    padding-bottom: 5px;
}

footer ul li a {
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    color: black;
}

footer span {
    font-size: 1rem;
    padding: 1rem;
    color: black;
}


@media (max-width: 767px) {

}

@media (max-width: 515px) {

    body {
        padding-top: 210px;
    }

    header > nav {
        flex-direction: column;
    }

    nav .enlaces li {
        display: flex;
        flex-direction: column;
    }

    main {
        width: 90%;
    }
    
    #features ul {
        padding: 30px 0px 30px 0px;
    }
    
    #features ul li {
        padding: 40px 0 40px 50px;
    }
    
    #features ul li i {
        font-size: 40px;
        margin-right: 100px;
        color: #fa6804;
    }
    
    #features ul li h3 {
        font-family: 'Roboto', 'sans-serif';
        font-size: 15px;
    }
    
    #features ul li p {
        font-family: 'Roboto', 'sans-serif';
        font-size: 12px;
    }

    #how-it-works iframe {
        width: 310px;
        height: 215px;
    }

    #how-it-works p {
        font-size: 15px;
        margin-top: 15px;
    }

    #products {
        flex-direction: column;
    }

    .target {
        margin-bottom: 2rem;
    }

    footer ul li a {
        font-size: 0.8rem; 
    }

    footer span {
        font-size: 0.5rem;
    }
}